.container
 {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
}

.container p {
    font-size: 2rem;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container p:hover {
    cursor: pointer
}

.svg {
    width: 50px
}