.songTrackerContainer {

}

.songTracker {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-x: auto;
}

.songTracker h2 {
  background-color: #f2f2f2;
  padding: 10px;
  margin: 0;
  font-size: 2rem;
}

.progressTable {
  border-collapse: collapse;
  width: 100%;
}

.progressTable th,
.progressTable td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.progressTable th {
  background-color: #dddddd;
}

.progressTable td:first-child {
  font-weight: bold;
}

.progressTable td:nth-child(4) {
  font-style: italic;
}

.progressTable td:nth-child(5) {
  text-align: center;
}

.progressTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
