.btn {
  text-transform: uppercase;
  background: var(--clr-primary-3);
  color: var(--clr-primary-10);
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.btn p a {
  color: var(--clr-primary-10);
  margin: 0;
}

.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}
