.container {
  margin-bottom: 0.5rem;
  display: flex;
}

.fileName {
  align-self: flex-end;
  margin: 0px 0px 0px auto;
  text-align: right;
  font-size: 0.8rem;
}

.container button {
  margin-left: 1rem;
}
