.aboutPage {
  padding: 2rem 0;
  background: var(--clr-grey-10);
  min-height: calc(100vh - 5rem - 9rem);
}

.paragraph a {
  text-decoration: underline;
}

.aboutArticle p {
  line-height: 2;
}

.articleContent {
  display: flex;
}

.articleContent p {
  margin-left: 100px
}

.aboutStack {
  margin-left: 100px
}

.aboutStack span {
  display: inline-block;
  background: var(--clr-grey-9);
  color: var(--clr-grey-3);
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}

/* TODO - consider smaller mobile screens! */
@media screen and (max-width: 992px) {
  .articleContent{
    display: block
  }

  .articleContent p {
    margin: 0px
  }

  .aboutStack {
    margin: 0px
  }
}
