.card {
  height: 175px;
  max-width: 800px;
  border-radius: 10px;
  /* to enforce the border radius on the image */
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;

  @media (max-width: 550px) {
    height: 350px;
  }
}

.card:hover {
  transform: scale(1.01);
}

.card h3 {
  margin: 0;
  padding: 0;
  color: black;
}

.card p {
  margin: 0;
  padding: 0;
  color: black;
}

.link {
  display: block;
  width: 100%;
  height: 100%;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  height: 100%;

  @media (max-width: 550px) {
    flex-direction: column;
    /* overflow: visible; */
  }
}

.image {
  height: 100%;
  width: 150px;
  object-fit: cover;

  @media (max-width: 550px) {
    width: 100%;
    height: 150px;
  }
}

.textContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.textContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px 20px 5px 20px;
  overflow: auto;
}

.title {
  text-align: center;
  font-size: 1.2rem;
}

.description {
  white-space: pre-wrap;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background-color: #e0e0e0;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 700;
  color: black;
}

.dateContainer {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.date {
  font-weight: bold;
  margin: 0;
  padding: 0;
}
