.year {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  text-align: center;
}

.articlesContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}
