.contactForm {
  background: var(--clr-white);
  border-radius: var(--radius);
  text-align: center;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  width: 90vw;
  max-width: 35rem;
}

.contactForm:hover {
  box-shadow: var(--dark-shadow);
}
