.container {
  border: 1px solid var(--clr-grey-5);
  padding-left: 1rem;
  padding-right: 1rem;
  display: inline-block;
  margin-bottom: 1rem;
  background-color: var(--clr-grey-9);
}

.containerHeader {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

.containerHeader h2 {
  font-size: 1rem;
  font-family: var(--ff-secondary);
  letter-spacing: normal;
  margin: 0rem 1rem 0rem 0rem;
}

.containerHeader span {
  color: blue;
  cursor: pointer;
}

.dataDisplay {
  margin-left: 25px;
}

.showHideButton {
  background-color: unset;
  border: unset;
  color: blue;
  font-size: 1rem;
  cursor: pointer;
}

.showHideButton:before {
  content: '['
}

.showHideButton:after {
  content: ']'
}
