.container {
  width: 30px;
  height: 30px;
  line-height: 30px;
  user-select: none;
  background-color: #bdbdbd;
  border: 1px solid #7b7b7b;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.container[data-is-covered='true'] {
  border-top: 2px solid white;
  border-right: 2px solid #7b7b7b;
  border-left: 2px solid white;
  border-bottom: 2px solid #7b7b7b;
  background-color: #bdbdbd;
}

.container svg {
  width: 28px;
  height: 28px;
}

.container[data-is-bomb='true']:not([data-is-covered='true']) {
  background-color: #ff6666;
}

.container[data-number-of-neighbor-bombs='1'] span {
  color: #0000ff;
}

.container[data-number-of-neighbor-bombs='2'] span {
  color: #006400;
}

.container[data-number-of-neighbor-bombs='3'] span {
  color: #ff0000;
}

.container[data-number-of-neighbor-bombs='4'] span {
  color: #ff8c00;
}

.container[data-number-of-neighbor-bombs='5'] span {
  color: #8b4513;
}

.container[data-number-of-neighbor-bombs='6'] span {
  color: #ff00ff;
}

.container[data-number-of-neighbor-bombs='7'] span {
  color: #000000;
}

.container[data-number-of-neighbor-bombs='8'] span {
  color: #ffffff;
}
