.row {
  display: flex;
  justify-content: center;
}

.gameContainer {
  border: 2px solid red;
}

.controls {
  display: flex;
  justify-content: center;
  border: 2px solid #5C5C5C;
  padding: 5px;
}

.controlItem {
  margin: 0px 5px;
}

.controlItem input {
  display: block
}
