.link {
  display: inline-block;
  background-color: hsl(0, 80%, 50%);
  color: #ffffff;
  padding: 8px 16px;
  margin: 8px;
  border: none;
  border-radius: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.link span {
  display: flex;
  align-items: center;
}

.link:hover {
    background-color: hsl(0, 100%, 50%);
}

.youtube {
  margin-right: 8px;
}